@charset "utf-8";

@-webkit-keyframes slideInUp
{
	0%
	{
		transform: translateY(100%);
		visibility: visible;
		webkit-transform: translateY(100%);
	}
	100%
	{
		transform: translateY(0);
		webkit-transform: translateY(0);
	}
}
@keyframes slideInUp
{
	0%
	{
		transform: translateY(100%);
		visibility: visible;
		webkit-transform: translateY(100%);
	}
	100%
	{
		transform: translateY(0);
		webkit-transform: translateY(0);
	}
}
#tkvrbar.wb-init
{
	animation-delay: 3s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: slideInUp;
	webkit-animation-delay: 3s;
	webkit-animation-duration: 1s;
	webkit-animation-fill-mode: both;
	webkit-animation-name: slideInUp;
}